<H1>MTA Passenger Data Analisys</H1>

Evaluate turnstile data to look for optimal locations for positioning staff for fundraising

In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as mat
import datetime as dt

In [2]:
# Read the datafiles
data_path = '../data/'
data_file_list = ['turnstile_191102.txt',
                 'turnstile_191109.txt',
                 'turnstile_191116.txt',
                 'turnstile_191130.txt',
                 'turnstile_191207.txt',
                 'turnstile_191214.txt',
                 'turnstile_191221.txt',
                 'turnstile_191228.txt'
                 'turnstile_200104.txt']

booth_key_filename = 'Remote-Booth-Station.csv'

In [3]:
turnstiles1 = pd.read_csv(data_path + data_file_list[0])
booth_key = pd.read_csv(data_path + booth_key_filename)
turnstiles1, booth_key

(          C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
 0        A002  R051  02-00-00          59 ST  NQR456W      BMT  10/26/2019
 1        A002  R051  02-00-00          59 ST  NQR456W      BMT  10/26/2019
 2        A002  R051  02-00-00          59 ST  NQR456W      BMT  10/26/2019
 3        A002  R051  02-00-00          59 ST  NQR456W      BMT  10/26/2019
 4        A002  R051  02-00-00          59 ST  NQR456W      BMT  10/26/2019
 ...       ...   ...       ...            ...      ...      ...         ...
 206041  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  11/01/2019
 206042  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  11/01/2019
 206043  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  11/01/2019
 206044  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  11/01/2019
 206045  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  11/01/2019

             TIME     DESC  ENTRIES  \
 0       00:00:00  REGULAR  7247322
 1       04:00:00  REGULAR  7247336
 2       08:00:00  REGULAR  7247351
 3       12:00:00  REGULAR  7247463
 4       16:00:00  REGULAR  7247755
 ...          ...      ...      ...
 206041  05:00:00  REGULAR     5554
 206042  09:00:00  REGULAR     5554
 206043  13:00:00  REGULAR     5554
 206044  17:00:00  REGULAR     5554
 206045  21:00:00  REGULAR     5554

         EXITS
 0                                                 2455491
 1                                                 2455499
 2                                                 2455532
 3                                                 2455623
 4                                                 2455679
 ...                                                   ...
 206041                                                420
 206042                                                420
 206043                                                420
 206044                                                420
 206045                                                420

 [206046 rows x 11 columns],
     Remote  Booth         Station Line Name Division
 0     R001   A060    WHITEHALL ST        R1      BMT
 1     R001   A058    WHITEHALL ST        R1      BMT
 2     R001  R101S     SOUTH FERRY        R1      IRT
 3     R002   A077       FULTON ST  ACJZ2345      BMT
 4     R002   A081       FULTON ST  ACJZ2345      BMT
 ..     ...    ...             ...       ...      ...
 763   R549  PTH20    NEWARK HM HE         1      PTH
 764   R550  PTH07      CITY / BUS         1      PTH
 765   R550  PTH16      LACKAWANNA         1      PTH
 766   R551  PTH04    GROVE STREET         1      PTH
 767   R552  PTH03  JOURNAL SQUARE         1      PTH

 [768 rows x 5 columns])

In [4]:
turnstiles1.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679

In [5]:
turnstiles1.columns = [x.strip() for x in turnstiles1.columns]
turnstiles1.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [16]:
delta_entry = [0]
delta_exit = [0]
date_list = [dt.datetime.strptime(turnstiles1['DATE'][0], '%m/%d/%Y')]
day_list = [date_list[0].weekday()]
for row in range(1, len(turnstiles1)) :
    delta_entry.append(turnstiles1['ENTRIES'][row] - turnstiles1['ENTRIES'][row - 1])
    delta_exit.append(turnstiles1['EXITS'][row] - turnstiles1['EXITS'][row - 1])
    date_list.append(dt.datetime.strptime(turnstiles1['DATE'][row], '%m/%d/%Y'))
    day_list.append(date_list[row].weekday())
                 

turnstiles1['deltaEntry'] = delta_entry
turnstiles1['deltaExit'] = delta_exit
turnstiles1['datetime'] = date_list
turnstiles1['weekday'] = day_list;

In [17]:
entries = pd.Series(turnstiles1.groupby(["STATION", "weekday", "TIME"]).deltaEntry.sum());

In [18]:
entries

STATION    weekday  TIME
1 AV       0        00:00:00     837
                    04:00:00     179
                    08:00:00    1363
                    12:00:00    4406
                    16:00:00    4284
                                ...
ZEREGA AV  6        05:00:00      41
                    09:00:00     179
                    13:00:00     226
                    17:00:00     267
                    21:00:00     108
Name: deltaEntry, Length: 30427, dtype: int64