In [40]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as mat
import datetime as dt
sys.path.append('../src')
import mta_data_clean as mc

In [44]:
# Read the datafiles
data_path = '../data/'
pickle_file = 'mta_data.pickle'
'''
data_file_list = ['turnstile_191102.txt',
                 'turnstile_191109.txt',
                 'turnstile_191116.txt',
                 'turnstile_191130.txt',
                 'turnstile_191207.txt',
                 'turnstile_191214.txt',
                 'turnstile_191221.txt',
                 'turnstile_191228.txt'
                 'turnstile_200104.txt']
'''
data_file_list = ['turnstile_191102.txt',
                 'turnstile_191005.txt']
booth_key_filename = 'Remote-Booth-Station.csv'

In [45]:
df = mc.mta_data_clean(data_path, data_file_list)
mc.mta_data_pickle_dump(df, pickle_file)

In [46]:
df.describe()

            entries         exits     deltaEntry      deltaExit
count  2.060460e+05  2.060460e+05  206046.000000  206046.000000
mean   4.101341e+07  3.395214e+07     161.158644     127.948560
std    2.113375e+08  1.958360e+08     261.822016     244.203327
min    0.000000e+00  0.000000e+00       0.000000       0.000000
25%    2.987312e+05  1.387082e+05       0.000000       0.000000
50%    1.969911e+06  1.157290e+06      40.000000      31.000000
75%    6.621930e+06  4.505968e+06     220.000000     148.000000
max    2.129010e+09  2.123659e+09   12526.000000   10727.000000

In [47]:
del df
df

NameError: name 'df' is not defined

In [48]:
df = mc.mta_data_pickle_read(pickle_file)

In [49]:
df.describe()

            entries         exits     deltaEntry      deltaExit
count  2.060460e+05  2.060460e+05  206046.000000  206046.000000
mean   4.101341e+07  3.395214e+07     161.158644     127.948560
std    2.113375e+08  1.958360e+08     261.822016     244.203327
min    0.000000e+00  0.000000e+00       0.000000       0.000000
25%    2.987312e+05  1.387082e+05       0.000000       0.000000
50%    1.969911e+06  1.157290e+06      40.000000      31.000000
75%    6.621930e+06  4.505968e+06     220.000000     148.000000
max    2.129010e+09  2.123659e+09   12526.000000   10727.000000